<div class="cookbook_show">
  <!-- breadcrumbs -->
  <div class="breadcrumbs show-for-large-up">
    <%= link_to 'Cookbooks', cookbooks_path %>
  </div>
  <div class="cookbook_show_content">
    <h1 class="cookbook_show_heading">
      <%= @cookbook.name %>
      <small>
        <a href="#" class="rss_feed_link"><i class="fa fa-rss"></i> RSS</a>
      </small>
      <small class="followbutton">
        <i class="fa fa-users"></i> 349
        <a href="#" class="button radius tiny">Follow</a>
      </small>
    </h1>

    <pre><code>knife cookbook site install <%= @cookbook.name %></code></pre>

    <%= @cookbook.description %>

    <dl class="tabs" data-tab>
      <dd class="active"><a href="#readme">readme</a></dd>
      <dd><a href="#dependencies">Dependencies</a></dd>
      <dd><a href="#relatedcookbooks">Related Cookbooks</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="readme">
        <%= render_readme(@latest_version.readme, @latest_version.readme_extension) %>
      </div>
      <div class="content" id="dependencies">
        Dependencies
      </div>
      <div class="content" id="relatedcookbooks">
        Related Cookbooks
      </div>
    </div>
  </div>

  <div class="cookbook_show_sidebar">
    <%= link_to "Download Cookbook", download_cookbook_path(@cookbook), :class => 'button radius expand button_download_cookbook' %>
    <h4>
      <i class="fa fa-download"></i> <%= @cookbook.download_count %> total downloads
      <small><%= @latest_version.download_count %> latest version downloads</small>
    </h4>

    <h3>cookbook Details</h3>

    <% if @cookbook.external_url.present? %>
      <%= link_to 'View Source', @cookbook.external_url, class: 'button' %>
    <% end %>

    <h4>
      <i class="fa fa-clock-o"></i> Updated <%= @latest_version.updated_at.strftime('%B %-d, %Y') %>
      <small>Created on <%= @cookbook.created_at.strftime('%B %-d, %Y') %></small>
    </h4>

    <h4><i class="fa fa-tasks"></i> Versions</h4>
    <p>
      <% @cookbook_versions.each_with_index do |version, index| %>
        <% if index < @cookbook_versions.size - 1 %>
          <%= version.version %>,
        <% else %>
          <%= version.version %>
        <% end %>
      <% end %>
    </p>

    <h4><i class="fa fa-desktop"></i> Platforms</h4>
    <ul>
      <% @supported_platforms.each do |platform| %>
        <li class="cookbook_platform_icon has-tip" title="<%= platform.name %> <%= platform.version_constraint %>" data-tooltip data-icon="<%= supported_platform_icon(platform) %>">
          <span><%= platform.name %></span>
        </li>
      <% end %>
    </ul>

    <h4><i class="fa fa-key"></i> License</h4>
    <p><%= @latest_version.license %></p>

    <h3>Maintainer &amp; Collaborators</h3>
    <div>
      <%= link_to @maintainer do %>
        <%= gravatar_for @maintainer %>
        <%= @maintainer.username %>
        <%= @maintainer.name %>
      <% end %>
    </div>
    <div>
      <% @collaborators.each do |collaborator| %>
        <%= link_to gravatar_for(collaborator), collaborator %>
      <% end %>
    </div>
  </div>
</div>
